<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>VacationSystem</display-name>
  <welcome-file-list>
    <welcome-file>Welcome.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>RegisterNewUsers</servlet-name>
    <servlet-class>com.axway.academy.iangelov.api</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>RegisterNewVacations</servlet-name>
    <servlet-class>com.axway.academy.iangelov.vacationsystem</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RegisterNewUsers</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>RegisterNewVacations</servlet-name>
    <url-pattern>/RegisterNewVacations</url-pattern>
  </servlet-mapping>

  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/worldDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>